# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.pem
*.key

# Node
node_modules/
build/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/

# Logs
*.log

# Docker
docker-compose.override.yml
